// Primary linear gradient
$gradient-start: hsl(236, 72%, 79%);
$gradient-stop: hsl(237, 63%, 64%);

//Neutrals
$very-light-gray-blue: hsl(240, 78%, 98%);
$light-gray-blue: hsl(234, 14%, 74%);
$gray-blue: hsl(233, 13%, 49%);
$dark-gray-blue: hsl(232, 13%, 33%);