* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 700;
  background-color: #f6f6fe;
  background-image: url("../images/bg-top.svg");
  background-position: right -10rem top -1rem;
  background-repeat: no-repeat;
  background-size: 20rem 35rem;
}

.text-center {
  text-align: center;
}

.light-text {
  color: #b3b5c6;
}

.price-text {
  font-size: 3rem;
  color: #494c5f;
}

.med-text {
  color: #6d708d;
}

.white-text {
  color: white;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 2.2rem;
  border-radius: 20px;
  background-color: white;
  padding: 1.75rem;
  min-width: 280px;
}

.card button {
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  color: white;
  letter-spacing: 2px;
  font-weight: 700;
}

.card .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 2rem;
}

.card .info p {
  position: relative;
}

.card .info p:last-child {
  position: relative;
}

.card .info p:last-child::after {
  position: absolute;
  content: "";
  top: 35px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #b3b5c6;
}

.card .info p::before {
  position: absolute;
  content: "";
  top: -18px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #b3b5c6;
}

.card2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to bottom, #a3a8f0, #696fdd);
}

.card2 button {
  background: white;
  color: #696fdd;
}

.container {
  padding: 3rem 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 3rem;
  justify-items: center;
}

.container h1 {
  color: #6d708d;
}

.toggler {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggler button {
  position: relative;
  height: 2rem;
  width: 3.5rem;
  border: none;
  border-radius: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#a3a8f0), to(#696fdd));
  background: linear-gradient(to right, #a3a8f0, #696fdd);
}

.toggler button span {
  position: absolute;
  background: red;
  top: 4px;
  right: 3px;
  height: 25px;
  width: 25px;
  background: white;
  border-radius: 20px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 2rem;
}

@media (min-width: 980px) {
  body {
    background-image: url("../images/bg-bottom.svg"), url("../images/bg-top.svg");
    background-position: bottom left, top right;
    background-size: 30% 40%, 30% 70%;
  }
  .cards {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cards .card2 {
    position: relative;
  }
  .cards .card2::before {
    position: absolute;
    content: '';
    top: -15px;
    left: 0;
    height: 2rem;
    width: 100%;
    background: #a3a8f0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .cards .card2::after {
    position: absolute;
    content: '';
    bottom: -15px;
    left: 0;
    height: 2rem;
    width: 100%;
    background: #696fdd;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.attribution {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */