@import 'color';

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

//Utilites
.text-center {
  text-align: center;
}

.container {
  padding: 3rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;


  h1 {
    color: $gray-blue;
  }
}


.toggler {
  display: flex;
}